* {

    font-family: "Bebas Neue", serif;
    font-weight: 600;
    font-style: normal;

}

body {

    background-color: black;

}

.carousel-item img {
    width: 100px;
    /* Ajusta el tamaño de las imágenes */
    height: auto;
}

main {

    background-image: url(imagenes/degradado.jpg);
    background-size: cover;

}

section {

    background-color: #22577a;

}

.carousel-item:not(.active) {
    opacity: 0.5;
    /* Haz que las imágenes no activas sean más transparentes */
    transform: scale(0.8);
    /* Haz que las imágenes no activas sean más pequeñas */
}